
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FAFAFA;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #0057FF;
    color: white;
    padding: 2rem;
    text-align: center;
}
main {
    padding: 2rem;
}
h2 {
    color: #0057FF;
}
